<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>


        {% if html_var %}
        <h1> Hello Lucky Soul</h1>
        <h2> Congratulations!!! it is your lucky day. You will be given a lucky number for the day</p>
        <h2> Your Lucky Number is {{ num }}. Use it wisely.</h2>
        <h2> Your lucky element is <b>{{lucky_element}}</b><br/></h2>

        {%else%}
        <h1> Hello Poor Soul</h1>
        <h2> Sorry no luck this time poor soul. Please refresh to see if you are lucky. </h2>
        {% endif %}
</body>

</html>
